{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

	<div class="main">
		<div class="container">
			<h1>New Marca</h1>

			<form method=post enctype=multipart/form-data>
				<p>Name:</p>
				<input type="text" name="name" size="30">
				</br>
				<p>Description:</p>
				<input type="text" name="description" size="30">
				<p>Image:</p>
				<input type="file" name="file">
				</br>
				</br>
				<input type="submit" value="Add">
			</form>

			<p><a href="{{url_for('myStoreList')}}">Cancel</a></p>
		</div>
	</div>

{% endblock %}
