<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Stylera</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
		<!--<link rel="stylesheet" media="screen and (max-width:610px)" href="css/under_610.css">-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
		<script src="//apis.google.com/js/platform.js?onload=start"> </script>
	</head>
	<body>
		<nav class="navbar navbar-light bg-faded">
			<div class="container">
	  			<span class="navbar-text col-md-1">
	    			<a href="{{url_for('marcasGuide')}}">
	    				<p>Estile</p>
	    			</a>
	  			</span>
	  			<span class="navbar-text col-md-1 login">
	    		{% if 'username' not in session %}
				<a href="{{url_for('showLogin')}}">Log in</a>
				{% else %}
				<a href="{{url_for('disconnect')}}">Logout</a>
				{% endif %}
	  			</span>
  			</div>
		</nav>
		<div class="main">
			<div class="container">
				<div id="connecting"></div>
			</br>
			<!-- GOOGLE SIGN IN -->

	<div id="signinButton">
		<span class="g-signin"
			data-scope="openid email"
            data-clientid="943125590768-5ar6u7co8ca83kdim2mpl0blf2ckqgq9.apps.googleusercontent.com"
            data-redirecturi="postmessage"
            data-accesstype="offline"
            data-cookiepolicy="single_host_origin"
            data-callback="signInCallback"
            data-approvalprompt="force">	
		</span>
	</div>
	<div id="result"></div>
	<script>
		function signInCallback(authResult) {
			if (authResult['code']) {
				// esconde o botao de sign in
				$('#signinButton').attr('style', 'display: none');
				$('#connecting').html("<h2>Connecting</h2>");
				// manda para server 'one-time-use' code, se o server responde, escreve 'login successful' na pagina e redireciona para o restaurante.
				$.ajax({
					type: 'POST',
					url: '/gconnect?state={{STATE}}',
					processData: false,
					data: authResult['code'],
					contentType: 'application/octet-stream; charset=utf-8',
					success: function(result) {
						if(result) {
							$('#result').html('Login Successful!</br>'+result+'</br>Redirecting...')
						setTimeout(function() {
							window.location.href = "/marcas";
						}, 4000);
						}
						else if (authResult['error']) {
							console.log('There was an error: ' + authResult['error']);
						}
						else {
							$('#result').html('Failed to make a server side call.\
								check your configaration an console.')
						}
					}
				})
			}
		}

	</script>

<!-- END GOOGLE SIGN IN -->

<!-- FACEBOOK SIGN IN STARTS HERE -->

	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '330679510691301',
	      cookie     : true, //enables cookies to allow the server to access the session
	      xfbml      : true, // parse social plugins on this page
	      version    : 'v2.8' // the version 2.2
	    });
	    FB.AppEvents.logPageView();   
	  };

	  // Load the SDK asynchronously
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));

	  // Here we run a very simple test of the Graph API after login is
	  // successful.  See statusChangeCallback() for when this call is made.
	  function sendTokenToServer() {
	    var access_token = FB.getAuthResponse()['accessToken'];
	    console.log(access_token)
	    console.log('Welcome!  Fetching your information.... ');
	    FB.api('/me', function(response) {
	      console.log('Successful login for: ' + response.name);
	     $.ajax({
	      type: 'POST',
	      url: '/fbconnect?state={{STATE}}',
	      processData: false,
	      data: access_token,
	      contentType: 'application/octet-stream; charset=utf-8',
	      success: function(result) {
	        // Handle or verify the server response if necessary.
	        if (result) {
	          $('#result').html('Login Successful!</br>'+ result + '</br>Redirecting...')
	         setTimeout(function() {
	          window.location.href = "/marcas";
	          }, 4000);
	        } 
	        else {
	        $('#result').html('Failed to make a server-side call. Check your configuration and console.');
	        }
	      }
	      
	  });
	    });
	  }
	</script>
	<button>
		<fb:login-button scope="public_profile,email" onlogin="sendTokenToServer();">
			<a href='javascript:sendTokenToServer()'>Login with Facebook</a>
		</fb:login-button>	
	</button>
			</br>
			</br>
			</div>
		</div>
	</body>
</html>






	