<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Stylera</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<link rel=stylesheet type=text/css href="../static/style.css">
		<link href="https://fonts.googleapis.com/css?family=Raleway:200,400,700" rel="stylesheet">
		<!--<link rel="stylesheet" media="screen and (max-width:610px)" href="css/under_610.css">-->
	</head>
	<body>
		<nav class="navbar navbar-light bg-faded">
			<div class="container">
				<span class="navbar-text col-md-1">
					<a href="{{url_for('marcasGuide')}}">
						<p>Estile</p>
					</a>
				</span>
				<span class="navbar-text col-md-1 login">
				<a href="#">Log in</a>
				</span>
			</div>
		</nav>


		<main class="main">
			<div class="container">     
		        <div class="row tudo">  
		          <div class="col-md-4 itens" >
		            <a href="#">
		            <img src="../static/Enika4camiseta11.jpg">
		            <p>Camiseta</p>
		            <p>15$</p>
		            </br>
		            </a>
		          </div>
		          <div class="col-md-4 itens" >
		            <a href="#">
		            <img height=300 width=300 src="../static/Enika4camiseta11.jpg">
		            <p>Camiseta</p>
		            <p>15$</p>
		            </br>
		            </a>
		          </div>
		          <div class="col-md-4 itens" >
		            <a href="#">
		            <img height=300 width=300 src="../static/Enika4camiseta11.jpg">
		            <p>Camiseta</p>
		            <p>15$</p>
		            </br>
		            </a>
		          </div>
		          <div class="col-md-4 itens" >
		            <a href="#">
		            <img height=300 width=300 src="../static/Enika4camiseta11.jpg">
		            <p>Camiseta</p>
		            <p>15$</p>
		            </br>
		            </a>
		          </div>
		          <div class="col-md-4 itens" >
		            <a href="#">
		            <img height=300 width=300 src="../static/Enika4camiseta11.jpg">
		            <p>Camiseta</p>
		            <p>15$</p>
		            </br>
		            </a>
		          </div>
		          <div class="col-md-4 itens" >
		            <a href="#">
		            <img height=300 width=300 src="../static/Enika4camiseta11.jpg">
		            <p>Camiseta</p>
		            <p>15$</p>
		            </br>
		            </a>
		          </div>

		      </div>
			</div>
		</main>
			
	</body>
</html>



 

	